@import url(../CSS/taks15.header.css);
@import url(../CSS/taks15.lbt.css);
@import url(../CSS/taks15.footer.css);
body {
  background-color: #fafafa;
  margin: 0 0 0 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.Home {
  padding: 30px 0;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 78%;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #e2e2e2;
}

.Home-l {
  font-size: 20px;
}

.Home-r {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: #29b078;
}

.direction-r > a:hover {
  background-color: #29b078;
  color: #ffffff !important;
}

.direction {
  padding: 15px 0;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 78%;
  border-bottom: 1px solid #e2e2e2;
}

.direction-l {
  color: #b0b0b0;
}

.direction-r > a {
  color: black;
  margin: 18px;
}

.direction-l:hover .direction-r {
  background-color: #29b078;
  color: #ffffff;
}

.direction-a > a {
  color: black !important;
}

.direction-a {
  padding: 35px 0;
  margin: 0 auto;
  font-weight: bold;
  width: 78%;
  font-size: 20px;
  border-bottom: 1px solid #e2e2e2;
  color: black !important;
}

.Introduction {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 80%;
}

.personnel {
  position: relative;
  float: left;
  width: 30%;
  height: 440px;
  border-bottom: 1px solid #e2e2e2;
  background-color: #ffffff;
  margin: 10px;
}

.personnel:hover .personnel-a {
  visibility: visible;
  animation: ro 1s ease-out 1;
}

@keyframes ro {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 0px;
  }
}

.personnel-a {
  visibility: hidden;
  position: absolute;
  height: 440px;
  background-color: black;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.7;
}

.personnel-t {
  margin-top: 80px;
  text-align: center;
}

.personnel-b {
  line-height: 20px;
  text-align: left;
  margin: 10%;
}

.photo {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
}

.photo-l {
  float: left;
  margin: 5px;
}

.photo-r-t {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 3px;
}

.photo-r {
  height: 150px;
}

.photo-r-b {
  font-size: 11px;
  margin: 3px;
  font-weight: normal;
  word-wrap: break-word;
}

@media only screen and (max-width: 1400px) and (min-width: 900px) {
  .personnel {
    width: 46%;
  }
  .photo-r-b {
    font-size: 13px;
  }
}

@media only screen and (max-width: 900px) {
  .personnel {
    width: 100%;
  }
  .personnel-a {
    width: 100%;
  }
  .photo-r-b {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .personnel {
    width: 100%;
  }
  .personnel-a {
    width: 100%;
  }
  .photo-r-b {
    font-size: 10px;
  }
  .photo-l-l {
    width: 100px;
    height: 100px;
  }
  .personnel-b {
    font-size: 12px;
  }
}

table {
  border-collapse: collapse;
  color: #9a9a9a;
}

td {
  border: 0.1px solid #fafafa;
  font-size: 12px;
}

.form {
  margin-bottom: -1px;
}

.form-t {
  height: 40px;
  width: 10%;
  padding-left: 18px;
}

.form-t-l {
  color: red;
}

.form-t-r {
  font-weight: bold;
  color: black;
}

.form-b {
  height: 40px;
  width: 4%;
  text-align: center;
}

.form-b-l {
  color: black;
  height: 40px;
  width: 6%;
  padding-left: 18px;
}

.form-b-r {
  color: black;
  float: right;
  padding-right: 10px;
}

.form-b-b {
  font-weight: bold;
  height: 40px;
  width: 0px;
  color: black;
  font-size: 20px;
}

.form-end {
  display: flex;
  align-items: center;
  height: 25px;
  color: #9a9a9a;
  font-size: 12px;
}
