.gcs-radio {

    display: none;
   
   }
   
   .gcs-radio+label {
   
     width: 15px;
   
     height: 15px;
   
     line-height: 15px;
   
     display: inline-block;
   
     text-align: center;
   
     vertical-align: bottom;
   
     border: 1px solid gray;
   
     border-radius: 50%;
   
   }
   
   .gcs-radio+label:hover {
   
     border: 1px solid #2783FB;
   
     cursor: pointer;
   
   }
   
   .gcs-radio:checked+label {
   
     background: #2783FB;
   
     border: 1px solid #2783FB;
   
   }
   
   .gcs-radio:checked+label:after {
   
     content: "\2022";
   
     font-size: 20px;
   
     color: white;
   
   }      

   .nav {
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 10%;
     margin:0 auto;
  
    height: 100px;
    font-size: 17px;
    color: #ffffff;
    background-color: #29b078;
    position: relative;
}

.head02 {
    display: flex;
    float: right;
    right: 0;
}

.li {
    display: inline-block;
    padding: 36px 15px ;
    margin:29px  10px;
    border-bottom: 5px solid #29b078;
    cursor: pointer;
}

button {
      margin: 26px  10% 0 10px;
    width: 50px;
    height:40px;
    background-color: #ffffff;
  
    border-radius: 10px;
    border:1px solid #888;
    display: none;
    outline: none;
    float: right;
}

.head11 {
    display: block;
     margin: 5.8px 0 3.4px  8.5px;
    width: 20px;
    height: 2px;
   
    background-color: #888;
}

.li:hover {
    border-bottom: 5px solid #ffffff;
}


@media screen and (max-width: 768px) {

    .nav {
        padding: 0 ;
        display: block;
    }
    .b3{
        float: left;
        padding-top: 26px;
        padding-left: 10%
    }

    .head02 {
        text-align: center;
        display: block;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all .8s;
        background: #29b078;
    }

    .li {
        display: block;
        width: 80%;
        margin: 10px auto 1px !important;
    }

    button {
        display: flex;
        flex-direction: column;

    }

    button:focus+.head02 {
        max-height:450.8px;
        background-color: #29b078;
    }
   

}


.head{
    height: 36px;
    width: 80%;
    color:#29b078;
    font-size:14px;
    text-align: center;
    margin:0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between
}
.head-l{
    height: 40px;
    line-height: 40px;
}
.head-r{
    height: 40px;
    line-height: 40px;
    
}
.a3{
    height: 30px;
}

